-for val, ind in collections
    li
        a(href="#", data-id="#{val.id}", contenteditable="false") #{val.name}
        div.collection-controls.parents
            a.glyphicon.glyphicon-edit.collection-control.collectionEdt(href="#")
            a.glyphicon.glyphicon-trash.collection-control.collectionDel(href="#")
        div.collection-controls.children
            a.glyphicon.glyphicon-ok.collection-control.collectionSav(href="#")
            a.glyphicon.glyphicon-remove.collection-control.collectionCnl(href="#")
