extends ../layout_auth
block content
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar.collection-input
                    li
                        input.form-control(type="text")
                        a.glyphicon.glyphicon-plus.collectionAdd(href="#")
                ul.nav.nav-sidebar.collections-holder

                    include ../dashboard/collections

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Dashboard
                //row.placeholders
                div
                    form.form-inline(action="/image/new", method="POST", enctype="multipart/form-data", id="upload-form")
                        .form-group
                            label.sr-only(for="fileUpload") Select image
                            input.form-control(type="file", name="image", id="fileUpload", accept="image/jpeg,image/png,image/gif")
                        input(type="hidden", name="collectionId")
                        input.btn.btn-default(type="submit", value="Upload", disabled='true')
                        p.help-block Please add just image files

                h2.sub-header Image previews
                div.images-holder
                    div#container

