doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Viewer Application
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    block js
      script(src="http://code.jquery.com/jquery-1.11.0.min.js")
      script(src="/js/viewer.js")
      script(src="/js/bootstrap.min.js")
      script(src="/js/jqBootstrapValidation.js")
  body
      .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
          .container
              .navbar-header
                  button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  a.navbar-brand(href="/") Viewer Application
              .navbar-collapse.collapse
                  if (message)
                    .error-message
                        h4
                            a.glyphicon.glyphicon-remove-sign  #{message}
                                                                                                                        //TODO: position for collapsed menu
                  if (!user)
                      form.navbar-form.navbar-right.form-signin(role="form", method='post', action='/auth')
                          .form-group
                              input.form-control(type="email", name="email", placeholder="Email", required)
                          .form-group
                              input.form-control(type="password", name="password", placeholder="Password", required)
                          button.btn.btn-success(type="submit") Log in
                          a.btn.btn-primary(href='/auth/new/') Sign up
                  else
                      .navbar-right.navbar-form
                        a.btn.btn-success(href='/dashboard') Log in
                        a.btn.btn-primary(href="/logout", id="logout") Log out

      block content

